@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
  color: #f1f1f1;
  text-decoration: none;
  list-style: none;
}

ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
